:root {
    --bg-color-dark-700: #3F2236;
    --bg-color-dark-600: #562E49;
    --bg-color-dark-600--o: rgba(86, 46, 73, 0.9);
    --bg-color-medium-700: #BE1D4A;
    --bg-color-medium-600: #EA557F;
    --bg-color-medium-200: #FFD4ED;
    --bg-color-medium-200--o: rgba(255, 212, 237, 0.7);
    --text-color-light-200: #eee;
    --text-color-dark-700: #3F2236;
}

html {
    font-size: 10px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 10px;

}

ul {
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}

a {
    color: white;
    text-decoration: none;
}

h1,
h2,
h3 {
    font-weight: 600;
    text-transform: uppercase;
    margin-block-start: 0;
    margin-block-end: 0;
}

h1 {
    font-size: 6rem;
    font-weight: 700;
}

h2 {
    font-size: 4.8rem;

}

h3 {
    font-size: 3.6rem;
    text-transform: none;
}

h4 {
    font-size: 2.4rem;
    font-weight: 500;
}


p {
    font-size: 1.6rem;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

/* txt start */
.font--light {
    color: var(--text-color-light-200)
}

.font--dark {
    color: var(--text-color-dark-700)
}

small {
    font-size: smaller;
}

/* txt end */


/* layout start */
.m--20 {
    margin: 20px
}

.mr--40 {
    margin-right: 40px;
}

.ml--40 {
    margin-left: 40px;
}

.p--20 {
    padding: 20px
}

.p--80 {
    padding: 40px 80px
}

.ty--40 {
    transform: translateY(-40px);
}

.relative {
    position: relative;
}

.wrapper {
    height: 100%;
    max-width: 1260px;
    margin: 0 auto;
}

.flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 100%;
}



.flex--6 {
    width: 50%;
    height: 100%;
    box-sizing: border-box;

}



.flex--column {
    flex-direction: column;
}

.flex--column-reverse {
    flex-direction: column-reverse;
}

.flex--end {
    justify-content: flex-end;
}

.flex--start {
    justify-content: flex-start;
}

.flex--order2 {
    order: 2;
}

.bar--80 {
    width: 100%;
    height: 90px;
    padding: 0 20px;
    line-height: 90px;
}

/* layout end */

/* bg start */
.bg__medium200 {
    background-color: var(--bg-color-medium-200);
}

.bg__medium200--opacity {
    background-color: var(--bg-color-medium-200--o);
}

.bg__medium600 {
    background-color: var(--bg-color-medium-600);
}

.bg__medium700 {
    background-color: var(--bg-color-medium-700);
}

.bg__dark600 {
    background-color: var(--bg-color-dark-600);
}

.bg__dark700 {
    background-color: var(--bg-color-dark-700);
}

.bg__dark600--opacity {
    background-color: var(--bg-color-dark-600--o);
}

.bg-image {
    background-image: url("img/bg1.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* animation-name: bg-animation;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-duration: 60s;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    backdrop-filter: ; */
}

.bg-image--dark {
    background-blend-mode: difference;
    background-color: white;
}

.bg-image--pink {
    background-blend-mode: lighten;
    background-color: var(--bg-color-medium-600);

}

.bg-image--fixed {
    background-attachment: fixed;
}

@keyframes bg-animation {
    0% {
        background-position: 100%;

    }

    100% {
        background-position: 120%;
    }

}


/* bg end */





/* btns start */
.btn {
    margin: 20px;
    padding: 20px 50px;
    border-radius: 10px;
    border: 1px solid var(--bg-color-medium-600);
    background-color: var(--bg-color-medium-600);
    cursor: pointer;
    color: var(--text-color-light-200);
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
    transition: .3s;
}

.btn:hover {
    background-color: var(--bg-color-dark-700)
}

/* btns end */

/* other start */
.--opacity80 {
    opacity: 80%;
}

.circle {
    border-radius: 50%;
    width: 40rem;
    height: 40rem;
}

.circle--animation {
    animation: bubble 30s infinite linear;
}


@keyframes bubble {
    0% {
        transform: translate(-25%, 20%) rotate(0deg);
    }

    25% {
        transform: translate(-40%, 0%) rotate(-5deg);
    }

    50% {
        transform: translate(0%, -15%) rotate(-8deg);
    }

    75% {
        transform: translate(15%, 0%) rotate(4deg);
    }

    100% {
        transform: translate(-25%, 20%) rotate(0deg);
    }


}

/* other end */

/* header start */
.header {
    position: absolute;
    top: 0;
    z-index: 999;
    height: 100px;
    width: 100%;

}


.header__logo {}

.header__img {
    height: 100%;
    padding: 10px;
}

.nav {
    transform: translateY(50%);
    height: 100px;
    background-color: var(--bg-color-dark-700);

}





.nav__items {
    height: 100%;
    margin: 0 20px;
}

.nav__item {

    text-align: center;
    transition: .3s;
}


.nav__link {
    display: inline-block;
    padding: 0 20px;
    line-height: 100px;
    font-weight: 600;
    font-size: 1.6rem;
    transition: .3s;
}

.nav__link:hover {
    cursor: pointer;
    background-color: var(--bg-color-medium-600);
}

/* header end */
/* main start */
.main {
    position: relative;
    margin-top: 100px
}



.hero {
    width: 100%;
    height: 80vh;
    background-image: url("img/hero1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero__left {
    border-top: 15px solid var(--bg-color-medium-600);
    border-bottom: 15px solid var(--bg-color-medium-600);
}

.hero__box {
    width: 100%;
    height: auto;
    padding: 20px;
}

.hero__h1,
.hero__span {
    text-align: center;
}

.hero__h1 {}

.hero__span {
    font-size: 4.8rem;
    font-style: italic;
}

.hero__news {
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
    border: 10px solid var(--bg-color-dark-700);
    height: 100px;
    width: 100%;
    padding: 10px;
    overflow: hidden;
    background-color: var(--bg-color-dark-700);
    white-space: nowrap;

}



.best {
    height: 80vh;
}

.best__image {
    height: 100%;
}

.barek_img {
    background-image: url("img/slodki-barek.png");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 60%;
    /* background-attachment: fixed; */
}

/* team start */
.team {
    /* transform: translateY(-80px); */
    margin-bottom: -120px;

}

.box {
    width: 100%;
    max-height: 390px;
    overflow: hidden;
}

.box__image {
    width: 100%
}

.team__member {
    z-index: 1;
}



.member__name {
    width: 100%
}

.member__text {
    font-size: 2rem;
}

.member__motto {
    width: 100%
}

@media (max-width: 768px) {

    html {
        font-size: 7px;
    }

    small {
        font-size: 3rem;
    }

    .m--20 {
        margin: 20px
    }

    .mr--40 {
        margin-right: 40px;
    }

    .ml--40 {
        margin-left: 40px;
    }

    .p--20 {
        padding: 20px
    }

    .p--80 {
        padding: 40px 20px
    }

    .ty--40 {
        transform: translateY(0);
    }

    .flex {
        flex-direction: column;
    }

    .flex--6 {
        width: 100%;
    }

    .circle {
        border-radius: 50%;
        width: 10rem;
        height: 10rem;
    }

    .circle--animation {
        animation: paused;
    }

    .header {
        position: relative;

    }

    .nav {
        transform: translateY(0);
        height: 100vh;
        display: none;
    }

    .main {
        margin-top: 0
    }

    .hero {
        height: calc(100vh - 100px);
    }

    .hero__box {
        margin-bottom: 40px;
    }

    .hero__left {
        display: none;
    }

    .hero__news {
        height: 40px;
        transform: translateY(0);

    }

    .team {
        margin-bottom: 0;

    }

    .team__member {
        border: 15px solid transparent;
    }

    .member__text {
        text-align: center;
    }


}

/* team end */


/* main end */